<html>
  <head>
    <title>Trusted Apps Client</title>
    <meta name="decorator" content="atl.admin"/>
  </head>
  <body>
    <h3>Trusted Apps Client</h3>
    <p>Use this to check if a remote system trusts you.</p>
    <form class="aui">
      <label for="url">URL</label>
      <input class="text" type="text" id="url" name="url" value="$!url" />
      <input class="aui-button" type="submit" value="Send Request" />
    </form>
    Status code: $!responseStatusCode<br/>
    Status text: $!responseStatusText<br/>
    Response body: <pre>$esc.xml($!responseBody)</pre>
  </body>
</html>
