.global-warning {
    background-color: #FFFFDD;
    border: 1px solid #F7DF92;
    color: #000000;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.index-links {
    list-style: none;
    padding: 0;
}

#logged-in {
    text-align: center;
 }
